version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    # Volumes for hot reloading server code during development
    volumes:
      - ./backend:/app
      - /app/node_modules
    # If you want to use a local MongoDB container, uncomment the lines below and update .env
    # depends_on:
    #   - mongo

  frontend:
    build:
      context: ./frontend
      target: dev
    ports:
      - "5173:5173"
    environment:
      - CHOKIDAR_USEPOLLING=true # Enable polling for file changes in Docker on Windows
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
  # mongo:
  #   image: mongo
  #   ports:
  #     - "27017:27017"
  #   volumes:
  #     - mongo-data:/data/db

  # volumes:
  #   mongo-data:
